<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xin.cymall.dao.SrvDiscounreserveDao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="xin.cymall.entity.SrvDiscounreserve" id="srvDiscounreserveMap">
        <result property="id" column="id"/>
        <result property="discountStart" column="discount_start"/>
        <result property="discountEnd" column="discount_end"/>
        <result property="status" column="status"/>
        <result property="userId" column="user_id"/>
        <result property="discount" column="discount"/>
		<result property="remark" column="remark"/>
		<result property="wxName" column="wx_name"/>
		<result property="type" column="type"/>

	</resultMap>

	<select id="get" resultType="xin.cymall.entity.SrvDiscounreserve">
		select * from srv_discount_reserve where id = #{value}
	</select>

	<select id="getList" resultType="xin.cymall.entity.SrvDiscounreserve">
		select t.*,u.wx_name from srv_discount_reserve t
		left join srv_wx_user u on t.user_id = u.id
		<include refid="where_clause" />
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
			<otherwise>
                order by discount_start desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="getCount" resultType="int">
		select count(*) from srv_discount_reserve t 		left join srv_wx_user u on t.user_id = u.id
		<include refid="where_clause" />
	</select>

    <!-- 搜索数据区域 -->
    <sql id="where_clause">
        <where>
            1=1
            <if test="id != null and id != ''"> and t.id = #{id} </if>
    		<if test="idVague != null and idVague != ''"> and t.id like concat('%',#{idVague},'%') </if>
            <if test="discountStart != null and discountStart != ''"> and t.discount_start = #{discountStart} </if>
    		<if test="discountStartVague != null and discountStartVague != ''"> and t.discount_start like concat('%',#{discountStartVague},'%') </if>
            <if test="discountEnd != null and discountEnd != ''"> and t.discount_end = #{discountEnd} </if>
    		<if test="discountEndVague != null and discountEndVague != ''"> and t.discount_end like concat('%',#{discountEndVague},'%') </if>
            <if test="status != null and status != ''"> and t.status = #{status} </if>
    		<if test="statusVague != null and statusVague != ''"> and t.status like concat('%',#{statusVague},'%') </if>
            <if test="userId != null and userId != ''"> and t.user_id = #{userId} </if>
    		<if test="userIdVague != null and userIdVague != ''"> and t.user_id like concat('%',#{userIdVague},'%') </if>
            <if test="discount != null and discount != ''"> and t.discount = #{discount} </if>
    		<if test="discountVague != null and discountVague != ''"> and t.discount like concat('%',#{discountVague},'%') </if>
       		<if test="wxName !=null and wxName !=''"> and u.wx_name like concat('%',#{wxName},'%')</if>
        </where>
    </sql>
	 
	<insert id="save" parameterType="xin.cymall.entity.SrvDiscounreserve">
		insert into srv_discount_reserve
		(
			`id`, 
			`discount_start`, 
			`discount_end`, 
			`status`, 
			`user_id`, 
			`discount`,
			`remark`,
			type
		)
		values
		(
			#{id}, 
			#{discountStart}, 
			#{discountEnd}, 
			#{status}, 
			#{userId}, 
			#{discount},
			#{remark},
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="xin.cymall.entity.SrvDiscounreserve">
		update srv_discount_reserve 
		<set>
			<if test="discountStart != null">`discount_start` = #{discountStart}, </if>
			<if test="discountEnd != null">`discount_end` = #{discountEnd}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="discount != null">`discount` = #{discount}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="delete">
		delete from srv_discount_reserve where id = #{value}
	</delete>
	
	<delete id="deleteBatch">
		delete from srv_discount_reserve where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>